@use "/src/sass/pxtorem.scss" as *;
@use "/src/sass/base/variables.scss" as v;

:root {
    line-height: 1.5;
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
margin: 0;
}

ol[role="list"], ul[role="list"] {
list-style: none;
padding-inline: 0;
}

h1, h2, h3, h4, h5 {
font-size: inherit;
font-weight: inherit;
}

img {
display: block;
max-inline-size: 100%;
}

body{
background-color: v.$light;
}

.container{
    width: 100%;
    padding: 0 rem(10);
}

@media screen and (min-width: rem(768)){
    .container{
        max-width: rem(720);
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (min-width: rem(1200)){
    .container{
        max-width: rem(1140);
    }
}

@media screen and (min-width: rem(1920)){
    .container{
        max-width: rem(1440);
    }
}
