@use "/src/sass/pxtorem.scss" as *;
@use "/src/sass/base/variables.scss" as v;

.about{
    padding-top: rem(50);

    &__article{
        margin-top: rem(60);
        display: flex;
        flex-wrap: wrap;
        row-gap: rem(35);
        &-img{
            margin: 0 auto;
            img{
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
            }
        }

        &-text{
            font-weight: 400;
            font-size: 1rem;
        }
    }

    &__title{
        margin-top: rem(60);
    }
}

@media screen and (min-width: rem(1200)) {
    .about{
        &__article{
            row-gap: 0;
            &-img{
                width: 50%;
                padding-right: rem(20);
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &-text{
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: rem(1920)) {
    .about{
        padding-top: rem(40);

        &__article{
            margin-top: rem(100);
            &-text{
                font-size: rem(20);
            }
        }

        &__title{
            margin-top: rem(100);
        }
    }

}