@use "/src/sass/pxtorem.scss" as *;
@use "/src/sass/base/variables.scss" as v;

.footer{
    background-color: v.$dark;
    margin-top: rem(60);
    padding: rem(50) 0;
    color: v.$light;

    .newsletter{
        padding-bottom: rem(40);
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    .nav-socials__wrapper{
        display: flex;
        justify-content: space-between;
        row-gap: rem(40);
        flex-wrap: wrap;
    }

    .title-h3{
        font-size: 1rem;
        text-align: left;
        color: v.$light;
    }

    .footer__title-h3{
        padding-bottom: rem(40);
    }

    form{
        fieldset{
            border: none;
            padding: 0;
            margin: 0;
            width: rem(293);
            line-height: normal;

            label{
                display: block;
            }
            .email__label{
                font-size: rem(14);
                color: v.$ui-active;
                font-weight: 400;
            }

            #footer__email{
                display: inline-block;
                height: rem(15);
                width: 100%;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid v.$ui-active;
                padding: 0;
                color: v.$light;
            }

            #footer__email:focus-visible{
                outline: none;
            }
        }

        .footer__checkbox-block{
            display: flex;
            align-items: center;
            margin-top: rem(20);

            a{
                color: #a22dc6;
                text-decoration: none;
                margin-left: rem(3);
            }
        }

        #footer__checkbox{
            margin-right: rem(15);
            width: rem(15);
            height: rem(15);
        }
        
    }

    &__btn{
        margin-top: rem(20);
    }

    &__nav{
            display: flex;
            column-gap: rem(66);
            row-gap: rem(40);
            flex-wrap: wrap;

        ul{
            display: flex;
            flex-direction: column;
            row-gap: rem(20);
            list-style: none;
            padding: 0;
            a{
                color: v.$light;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    &__socials{
        .socials__img-container{
            display: flex;
            column-gap: rem(10);
        }
        span{
            font-size: rem(24);
        }

        span::before{
            margin: 0;
        }
    }

    &__copyright{
        text-align: center;
        margin-top: rem(40);
    }
}