@use "/src/sass/pxtorem.scss" as *;
@use "/src/sass/base/variables.scss" as v;

.git{
    margin-top: rem(60);

    &__title{
        font-size: 2rem;
    }

    &__grid-wrapper{
        text-align: left;
        padding-top: rem(60);
    }

    &__col-left{
        display: none;
    }

    &__col-right{
        position: relative;
        height: 525px;
    }

    &__btn{
        width: 220px;
        height: 40px;
        a{
            font-size: 1rem;
            color: v.$dark;
            text-decoration: none;
        } 
    }

    &__vase{
        display: none;
    }

    fieldset{
        border: none;
        margin: 0;
        padding: 0;
    }

    label{
        display: block;
        font-weight: 400;
        font-size: rem(14);
        line-height: 200%;
        color: v.$dark
    }

    input{
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        width: 100%;
        height: 48px;
        background: #fff;

        &:focus{
            border: none;
            outline: 1px solid v.$dark;
        }
    }
}

@media screen and (min-width: rem(768)) {
    .git{
        padding: 0 rem(24) 0 rem(48);

        &__title{
            font-size: rem(36);
        }

        &__grid-wrapper{
            padding-top: rem(45);
        }

        &__col-right{
            height: 428px;
        }
        &__vase{
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

@media screen and (min-width: rem(1280)) {
    .git{
        height: auto;
        padding: 0;
        &__title{
            font-size: rem(40);
        }

        &__grid-wrapper{
            padding-top: rem(80);
        }

        &__col-left{
            display: block;
            padding-right: rem(20);
            img{
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
                width: 100%;
            }
        }

        &__col-right{
            padding-left: rem(20);
        }

        input{
            &:hover{
                outline: 1px solid v.$dark;
            }
        }
    }
}

@media screen and (min-width: rem(1920)) {
    .git{
        &__wrapper{
            padding-right: rem(75);
        }

        &__col-left{
            padding: 0;
        }

        &__col-right{
            padding-left: rem(147);
        }
    }
}