@use "/src/sass/pxtorem.scss" as *;
@use "/src/sass/base/variables.scss" as v;

.works{
    padding-top: rem(60);

    &__slider{
        margin-top: rem(40);
        padding-bottom: rem(45);
    }

    .swiper-slide img{
        width: 100%;
    }

    .swiper-pagination{
        bottom: 0;
    }

}