@use "/src/sass/pxtorem.scss" as *;
@use "/src/sass/base/variables.scss" as v;

.works{
    padding-top: rem(60);

    &__slider{
        margin-top: rem(40);
    }

    .swiper-wrapper{
        padding-bottom: rem(45);
    }

    .swiper-slide img{
        width: 100%;
    }

    .swiper-pagination{
        bottom: 0;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;
    }

    .swiper-pagination-bullet{
        width: rem(10);
        height: rem(10);
        background-color: v.$dark;
        border-radius: 0%;
        opacity: 1;
        -webkit-tap-highlight-color: transparent;
    }

    .swiper-pagination-bullet-active{
        background-color: v.$ceramic;
    }
}

@media screen and (min-width: rem(768)) {
    .works{
        .swiper-slide img{
            width: rem(400);
            display: block;
            margin: 0 auto;
        }

        &__slider{
            margin-top: rem(45);
        }
    }
}

@media screen and (min-width: rem(1200)){
    .works{
        &__slider{
            margin: rem(80) rem(40);
            padding-bottom: rem(40);
        }

        .swiper-wrapper{
            padding-bottom: rem(40);
        }

        .swiper-button-prev, .swiper-button-next{
            display: block;
        }
    }
}