@use "/src/sass/pxtorem.scss" as *;
@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as v;

.btn-default{
    @include button;
    width: rem(230);
    height: rem(60);
    font-size: rem(20);
}

.btn-send {
    @include button;
    width: rem(220);
    height: rem(40);
    font-size: rem(16);
    &:focus{
        outline: 1px solid v.$ceramic;
        border: none;
    }

    &:disabled{
        color: v.$ui-disabled;
        border: 1px solid v.$ui-disabled;
    }
}

.btn-submit{
    @include button;
    font-size: 1rem;
    width: rem(90);
    height: rem(40);
    border: 1px solid v.$light;
    color: v.$light;
}

@media screen and (min-width: rem(1200)){
    .btn-default{
        &:hover{
            background-color: v.$dark;
            color: v.$light;
        }

        &:active{
            box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
            background: rgba(217, 217, 217, 0.1);
            color: v.$dark;
            border: none;
        }
    }


    .btn-send {
        &:active{
            outline: 1px solid v.$ceramic;
            border: none;
        }

        &:hover{
            color: v.$ceramic;
            border: 1px solid v.$ceramic;
        }
    }
}

@media screen and (min-width: rem(1920)){
    .btn-default{
        width: rem(330);
        height: (60);
    }
}