@use "/src/sass/pxtorem.scss" as *;
@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as v;

.btn-default{
    @include button;
    width: 230px;
    height: 50px;
    font-size: rem(20);
}

@media screen and (min-width: rem(1200)){
    .btn-default{
        &:hover{
            background-color: v.$dark;
            color: v.$light;
        }

        &:active{
            box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
            background: rgba(217, 217, 217, 0.1);
            color: v.$dark;
            border: none;
        }
    }
}

@media screen and (min-width: rem(1920)){
    .btn-default{
        width: rem(330);
        height: (60);
    }
}